body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#calculator {
  width: 300px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 10px;
}
